body {
    background-color: #fcfcfc;
    color: #888;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif;

}
p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 30px;
}


.container {
    padding: 40px;
}

ul.navbar {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #444;
}

ul.navbar > li {
    float: left;
}

ul.navbar > li:hover {
    background-color: rgb(93, 98, 117);
}

.active {
    background-color: #6975A2;
}

ul.navbar > li > a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

img.tom {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
}

tr > th {
    color: #cfcfcf;
    background-color: #444;
    padding: 30px;
}

tr > td {
    border: 1px solid #444;
    padding: 30px;
}

/* Forms */

input, label {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    display: block;
    margin: 10px 0 10px 0;
}

input {
    padding: 20px 5px;
    width: 100%;
    font-size: 16px;
}

button {
    padding: 20px;
    background-color: #6975A2;
    color: #fff;
    font-size: 16px;
}